


.section-1 h2  {

    font-size: 50px;
    margin-left: 20px;
    color: black;
}


.section-1 p , button {
    color: black;
    margin-left: 20px;
}




/* about us */

.inner-section1 h1{
font-size: 40px;
width: 80%;
line-height: 50px;
}



/* about us */